---
import { getLangFromUrl, switchLanguage, getUrlFromID } from '@/i18n/utils';
import type { Langs } from '@/i18n/ui';

const languages = [
	{ code: 'eu', name: 'Euskera', nativeName: 'Eu' },
	{ code: 'es', name: 'Español', nativeName: 'Es' }
] as const;

const url = Astro.url;
const { singleNewsId, singleEventId } = Astro.params;
const lang = getLangFromUrl(url);

function langHref(targetLang: Langs) {
	if (!singleNewsId && !singleEventId) {
		return switchLanguage(url);
	}

	const sectionId = singleNewsId ? 'news' : 'agenda';
	const id = singleNewsId || singleEventId || '';
	const section = getUrlFromID(sectionId, targetLang);
	const newSingleNewsId =
		targetLang === 'es' ? `${id}-es` : id.replace(/-es$/, '');
	return `${section}/${newSingleNewsId}`;
}

const switchLang = languages.filter(l => l.code !== lang)[0];
const switchHref = langHref(switchLang.code);
---

{
	switchHref && (
		<nav class="language-toggle button-text" aria-label="Language selector">
			{languages.map(language => (
				<a
					href={langHref(language.code)}
					aria-current={language.code === lang ? 'page' : undefined}
					aria-label={language.name}
					class={`lang-toggle-link lang-option-btn lang-option${language.code === lang ? ' selected' : ''}`}
				>
					<span />
					{language.nativeName}
				</a>
			))}
		</nav>
	)
}

<style>
	.language-toggle {
		display: flex;
		position: relative;
	}
	.lang-toggle-link {
		text-decoration: none;
		display: flex;
		align-items: center;

		&:first-child::after {
			content: '';
			display: block;
			left: var(--s4);
			width: 2px;
			height: var(--s3);
			background-color: var(--theme-primary-900);
			position: absolute;
			left: 48px;
		}

		&:hover {
			.lang-option {
				color: var(--theme-primary-950);
			}
		}
	}

	.lang-option {
		width: 100%;
		min-width: 48px;
		min-height: 48px;
		padding: var(--s3) var(--s4);
		background: none;
		border: none;
		cursor: pointer;
		color: var(--theme-primary-900);
		transition: color 0.3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.lang-option:hover,
	.lang-option.selected {
		text-decoration: underline;
	}
</style>
